 <header>
    <h1>Bienvenidos al Himalaya</h1>
    <nav>
        <a href="/">Home</a>
        <a href="contacto">Contacto</a>
        <a href="equipos">Equipos</a>
        <a href="f1">F1</a>
    </nav>
</header>