{{#> plantillaExterna}}

<form action="" method="get">
    <div>Fecha: <input type="date" name="" id=""></div>
    <div>Nombre:<input type="text" name="" id=""></div>
    <div>Color:<input type="color" name="" id=""></div>
    <div><input type="button" name="" id="" value="Enviar"></div>
</form>

{{/plantillaExterna}}